/**
  css for et bibliotek med custom components for
  å manipulere databasen
**/



  
  body {
    background-color: black;
  }

  #admin {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
      ". editor  view ."
      ".   .     view .";
  }
  
  #admin > * {
      justify-self: center;
  }
  

  .table {
    margin-left: 50%;
    grid-area: view;
  }
  
  #form {
      grid-area: editor;
  }
  
  home-bar {
     /* --grad: var(--light-grad); */
  }
  
  db-table {
    margin: 2em;
     --alternate: rgba(188, 228, 191, 0.555);
     --head: green;
  }

  #total {
    --tsize: 150px;
  }
  
  @media screen and (max-width: 850px) {
      #username , #info { display:none; }
      #admin {
          grid-template-columns: 1fr;
          grid-template-areas:
          "editor"
          "view";
      }
    }