/**
  css for et bibliotek med custom components for
  å manipulere databasen
**/



body {
  background-color: rgb(31, 30, 30);
}

.table {
  width: 500px;
  margin-left: 800px;
  margin-top: 50px;
}

.form {
  margin-top: -70px;
}

#main {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    ". view .";
}

#main > * {
    justify-self: center;
}

#table {
    grid-area: view;
}

#form {
    grid-area: editor;
}

home-bar {
   /* --grad: var(--light-grad); */
}

db-table {
    width: 40em;
   --alternate: slategray;
   --head: bisque;
}



@media screen and (max-width: 850px) {
    #username , #info { display:none; }
    #main {
        grid-template-columns: 1fr;
        grid-template-areas:
        "editor"
        "view";
    }
  }