body {
    background-image: url(/Database/public/bilder/fest.JPG);
    background-position: center;
    background-size: cover;
    height: 1000px;
}

#login {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border-radius: 10%;
    margin-top: 15%;
}

#login > a:visited {
    color: blueviolet;
    font-size: 5em;
    position: relative;
    top: 100px;
    left: 50px;
}

#login > a {
    color: blue;
    font-size: 5em;
    position: relative;
    top: 100px;
    left: 50px;
}

